@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ReservationSystem.Models.ViewModels;
@model UserLoginViewModel



<h1>Login Portal</h1>
<hr />

<form asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div>
        <button type="submit"  
                name="provider" value="Google"
                title="Login using your Google account">
            GOOGLE
        </button>
    </div>
    

</form>
